<!DOCTYPE html>

<html>

<head>
    
    <title>About</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{!-- <h1 style="background-color:rgba(160, 5, 221, 0.979)">{{title}}</h1> --}}
        {{>header}}
        <p>This site was created by QkSr. It uses data from mapobx.com and darksky.net!</p>
        <img class="portrait" src="/img/test.jpg" alt="Can't find image">
    </div>

    {{>footer}}
</body>


</html>