<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
    <div class="main-content">
        {{>header}}
    
        {{!-- <h1 style="background-color:#fffb11fa">{{title}}</h1> --}}
        <p>{{helpText}}</p>
    </div>
    
    {{>footer}}
</body>


</html>